*,::before,::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



@font-face {
    font-family: 'mother_dayregular';
    src: url('font/motherfont/motherday-webfont.woff2') format('woff2'),
         url('font/motherfont/motherday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.titre{
    font-weight: 200;
    width:50%;
    font-size:100px;
    line-height:1;
    opacity:0.9;
    font-family: mother_dayregular;
    position: relative;
    animation: fadein 20s;
}
h1{
    font-weight: 200;
    font-size: 100px;
    width:100vw;
    text-align:center;
    margin-top: 10px;
}
span{
    margin-left: 50%;
}
.cinema{
    margin-left:70% ;
}
.mariages{
    margin-left: 90%;
}

video{
    position:absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    width:100vw;
    height:100vh;
    object-fit: cover;
}


.container-btns{
    position:relative;
    top:50px;
    width:auto;
    text-align: center;
}

.boutton{
    border:2px solid #f1f1f1;
    background: transparent;
    position:relative;
    font-size: 30px;
    color:black;
    padding:20px;
    opacity: 1;
    animation:fadein 20s;
    width:200px;
    
    
}
.boutton:nth-child(1){
margin-right: 30px;
}
.boutton:hover{
    transition: all 0.3s ease-in-out;
    background: linear-gradient(45deg, #f1f1f1,#dabac0);
    border:3px solid black;
}




@keyframes fadein{
    
    0%{opacity:0;}
    50%{opacity:0;}
    100%{opacity:1;}
}
