*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'mother_dayregular';
    src: url('font/motherfont/motherday-webfont.woff2') format('woff2'),
    url('font/motherfont/motherday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.container_nav{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background:rgba(0, 0, 0); 
    color:white; 
     
}
.logo{
    grid-column: 1;
    grid-row: span 2;
    text-align:center;
    align-items: center;
}
.nom{
    grid-column: 2;
    font-family: mother_dayregular;
    text-align:center;
    top:30%;
    font-size: 40px;
    position:relative;
    
}
.item_nav{
    display:flex;
    flex-wrap: wrap;  
    align-items: center;
    text-align:center; 
    justify-content: space-around;   
}
.item_nav li{
    list-style: none;
    text-align: center;
}
.item_nav a{
    text-decoration: none;
    padding:50px;
    font-size:28px;
    font-weight: 550;
    color:white;
    font-family: mother_dayregular;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.radia{
    width:60px;
    height:60px;
    border-radius: 50%;
    align-items: center;
}

.logo{
    display:flex;
    position:relative;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    flex-direction: column;
}
.media{
    position:relative;
    right:3.3%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type:none;
}
.bulle{
    width:30px;
    height:30px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5px 0;
    background: #f1f1f1;
    cursor:pointer;
    position:relative;
}
.logo-medias{
    height:20px;
    width:20px;
}

.item:hover{
    font-style: inherit;
    cursor: pointer;
    text-decoration: underline 1px solid;
}
.home{
background: fixed url("images/image.jpg") no-repeat center/cover; 

align-items: center;
display:flex;
flex-direction: column;

}
.galerie_photo{
width:80%;
max-width: 1300px;    
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;

}

.photo{
    height:300px;
    width:190px;
    margin:35px 20px;

    border-radius: 15px;
    border:black solid 3px;
    box-shadow:  -30px 30px 20px rgba(0,0,0,0.7);
    overflow: hidden;

}
.tarif{
    background:blanchedalmond;
    height: 100vh;
    font-family: mother_dayregular;
}
.autre{
    background: fixed url("images/background.jpg") no-repeat center/cover; 
    height:100vh;  
}
h1{
    text-align: center;
    padding-top: 5px;
}
.overlay{
    background: rgba(0,0,0,0.5);
    height:100vh;
}
.container_tarifs{
    display:flex;
    align-items: center;


}

